app/code/community/Tobihille/ApiModelBridge/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
      </schema>
    </types>

  <message name="apimodelbridgeGetRequest">
    <part name="sessionId" type="xsd:string" />
    <part name="json" type="xsd:string" />
  </message>

  <message name="apimodelbridgePutRequest">
    <part name="sessionId" type="xsd:string" />
    <part name="json" type="xsd:string" />
  </message>

  <message name="apimodelbridgeDeleteRequest">
    <part name="sessionId" type="xsd:string" />
    <part name="json" type="xsd:string" />
  </message>

  <message name="apimodelbridgeGetResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="apimodelbridgePutResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="apimodelbridgeDeleteResponse">
    <part name="result" type="xsd:string" />
  </message>

  <portType name="{{var wsdl.handler}}PortType">
      <operation name="apimodelbridgeGet">
        <documentation>Get arbitrary data</documentation>
        <input message="typens:apimodelbridgeGetRequest" />
        <output message="typens:apimodelbridgeGetResponse" />
      </operation>

      <operation name="apimodelbridgePut">
        <documentation>Update or insert arbitrary data</documentation>
        <input message="typens:apimodelbridgePutRequest" />
        <output message="typens:apimodelbridgePutResponse" />
      </operation>

      <operation name="apimodelbridgeDelete">
        <documentation>Delete arbitrary data, be careful</documentation>
        <input message="typens:apimodelbridgeDeleteRequest" />
        <output message="typens:apimodelbridgeDeleteResponse" />
      </operation>

    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="apimodelbridgeGet">
          <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
          <input>
              <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
          </input>
          <output>
              <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
          </output>
      </operation>

      <operation name="apimodelbridgePut">
        <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
        <input>
          <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
      </operation>

      <operation name="apimodelbridgeDelete">
        <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
        <input>
          <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
      </operation>

    </binding>

    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>

</definitions>
